DATABASE_URL=postgresql://deuce:deuce@localhost:5434/deuce
PORT=4000
# openssl rand -hex 32
SESSION_KEY_HEX=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback
ALLOWED_EMAILS=you@goldenlabs.dev
