<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.goldenlab.deuce-server</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__DEUCE_RUNNER__</string>
    <string>__DEUCE_NODE_BIN__</string>
    <string>__DEUCE_SERVER_ROOT__</string>
    <string>__DEUCE_ENV_FILE__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__DEUCE_SERVER_ROOT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__DEUCE_STDOUT_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__DEUCE_STDERR_LOG__</string>
</dict>
</plist>
